<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sellphone</display-name>
  <servlet>
    <description></description>
    <display-name>Userservlet</display-name>
    <servlet-name>Userservlet</servlet-name>
    <servlet-class>com.woniuxy.sellphone.servlet.Userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.woniuxy.sellphone.listener.requestlistener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>picturesevlet</display-name>
    <servlet-name>picturesevlet</servlet-name>
    <servlet-class>com.woniuxy.sellphone.util.picturesevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>picturesevlet</servlet-name>
    <url-pattern>/pic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userregister</display-name>
    <servlet-name>Userregister</servlet-name>
    <servlet-class>com.woniuxy.sellphone.servlet.Userregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userregister</servlet-name>
    <url-pattern>/Userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goodsservlet</display-name>
    <servlet-name>goodsservlet</servlet-name>
    <servlet-class>com.woniuxy.sellphone.servlet.goodsservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsservlet</servlet-name>
    <url-pattern>/goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.woniuxy.sellphone.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutservlet</display-name>
    <servlet-name>CheckOutservlet</servlet-name>
    <servlet-class>com.woniuxy.sellphone.servlet.CheckOutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutservlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateservlet</display-name>
    <servlet-name>updateservlet</servlet-name>
    <servlet-class>com.woniuxy.sellphone.servlet.updateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateservlet</servlet-name>
    <url-pattern>/up</url-pattern>
  </servlet-mapping>
</web-app>